
title: mag blg
email: mag@243studio.me
description: >- # this means to ignore newlines until "baseurl:"
  a blg where i share about my engineering life, science, arts and life.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://blog.magmukendi.com" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: magmukendi
github_username:  magmukendi
linkedin_username: magmukendi
# Build settings
theme: jekyll-theme-clean-blog
plugins:
  - jekyll-feed
  - jekyll-seo-tag

email: magmukendi0@gmail.com
timezone: "America/Montreal"
author: mag
# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
